<div class="center">
  <article>
    <form [formGroup]="loginForm">
      <input
        formControlName="username"
        type="text"
        name="login"
        placeholder="Login"
        aria-label="Login"
        autocomplete="nickname"
        required
      />
      <input
        formControlName="password"
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
        autocomplete="current-password"
        required
      />
      <fieldset>
        <label for="remember">
          <input type="checkbox" role="switch" id="remember" name="remember" />
          Remember me
        </label>
      </fieldset>
      <button class="contrast" (click)="onLogin()">Login</button>
    </form>
  </article>
</div>
