.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border-radius: 20px;
  background: rgba(205, 88, 136, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(205, 88, 136, 0.1);
}

form {
  width: 400px;
}

button {
  width: 100px;
}

h2 {
  color: #ffff;
}
