/* You can add global styles to this file, and also import other style files */

// #3C6255
// #61876E
// #A6BB8D
// #EAE7B1

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  background: #20262e !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
